.grid-container{
    width:50%;
    display:grid;
    grid-template-columns: auto auto auto auto auto auto auto auto;
    background-color: rgb(222, 238, 230);
}

.grid-container div{
    border:1px solid gray;
    padding:10px;
    font-size:15px;
    text-align:center;
}

.alglin{
    background-color:lightseagreen
}

.inteng{
    background-color:pink
}